<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="text-container">
    <h3 class="headerFont">
    </h3>
   
  </div>


  <div class="">
    <img src="../assets/img/cancel.png" class="moveCenter">
  </div>

  <div class="text-container">
    <h3 class="headerFontc">Transaction Cancelled!
    </h3>
    <p class="subFontsc">Your transaction didn’t go through please refer changes from your buyer.</p>
  </div>

  <div class="btn-positions">
  
    <ion-button (click)="toPayment()">Return</ion-button>
      </div>
</ion-content>